# Created by https://www.toptal.com/developers/gitignore/api/xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode

### Xcode ###
## User settings
xcuserdata/

Melograno/MelogranProjectTests
Melograno/MelogranProjectUITests
/Melograno/DerivedData
/Melograno/MelogranProjectTests
/Melograno/MelogranProjectUITests

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
*.xcuserstate
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode
Melograno/MelogranoProject.xcodeproj/project.xcworkspace/xcuserdata/ritamarrano.xcuserdatad/UserInterfaceState.xcuserstate
Melograno/DerivedData/SDKStatCaches.noindex/iphonesimulator16.4-20E238-.sdkstatcache
Melograno/DerivedData/ModuleCache.noindex/Session.modulevalidation
Melograno/DerivedData/MelogranoProject/Logs/Notices/LogStoreManifest.plist
Melograno/DerivedData/MelogranoProject/Logs/Launch/LogStoreManifest.plist
Melograno/DerivedData/MelogranoProject/Logs/Build/LogStoreManifest.plist
*.plist
Melograno/DerivedData/MelogranoProject/info.plist
Melograno/DerivedData/*
.DS_Store
Melograno/MelogranoProject.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
